{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{carshop.name}}? </h2>

<form action="{{url_for('deleteCarShop', carshop_id = carshop.id)}}" method = 'post' id = 'abc'></form>
<button  class="btn btn-default" id="submit" type="submit" form = 'abc'>
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
<a href = "{{url_for('showCars', carshop_id = carshop.id)}}">
	<button class="btn btn-default delete">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
</a>

{% endblock %}